# --- For-Bot-Working --------- #
aiohttp
aiohttp_cors
pyrogram
TgCrypto
pyromod==1.5
python-dotenv
requests  # Added for making HTTP requests
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
